{% load static %}

<section id="section7">
    <div class="mt-5 pt-5">
        <footer class="text-center text-lg-start text-dark">
            <section class="d-flex justify-content-between p-4 text-white bg-success">
                <div class="me-5">
                    <span>Get connected with us on social networks:</span>
                </div>
                <div>
                    <a href="" class="bg-white text-black me-3 border p-1 rounded-3"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="" class="bg-white text-black me-3 border p-1 rounded-3"> <i class="fab fa-twitter"></i> </a>
                    <a href="" class="bg-white text-black me-3 border p-1 rounded-3"> <i class="fab fa-google"></i> </a>
                    <a href="" class="bg-white text-black me-3 border p-1 rounded-3"> <i class="fab fa-instagram"></i> </a>
                    <a href="" class="bg-white text-black me-3 border p-1 rounded-3"> <i class="fab fa-linkedin"></i> </a>
                    <a href="" class="bg-white text-black me-3 border p-1 rounded-3"> <i class="fab fa-github"></i> </a>
                </div>
            </section>
    
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Charlie's Plants</h6>
                            <hr class=" mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <div class="mt-0">
                                <img src="{% static 'images/image.png' %}" alt="Logo" style="width: 150px;">
                            </div>
                            <p>
                                Welcome to <span class="fw-bold">Charlie's Plants</span>, your one stop shop for lush, healthy plants! We offer a wide variety of indoor and outdoor plants, along with expert care tips to help you create a thriving green space. Bring nature home with us!
                            </p>
                        </div>
    
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Plants</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><a href="#!" class="text-dark">Flower Plants</a></p>
                            <p><a href="#!" class="text-dark">Pot Plants</a></p>
                            <p><a href="#!" class="text-dark">Fruits Plants</a></p>
                            <p><a href="#!" class="text-dark">Hanging Creeper plants</a></p>
                            <p><a href="#!" class="text-dark">Indoor Plants</a></p>
                            <p><a href="#!" class="text-dark">Croton Plants</a></p>
                            <p><a href="#!" class="text-dark">Herbal Plants</a></p>
                            <p><a href="#!" class="text-dark">Seeds</a></p>
                            <p><a href="#!" class="text-dark">Aquatic Plants</a></p>
                        </div>
    
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><a href="#!" class="text-dark">About Charlie's Plants</a></p>
                            <p><a href="#!" class="text-dark">Contact Us</a></p>
                            <p><a href="#!" class="text-dark">Privacy Policy</a></p>
                            <p><a href="#!" class="text-dark">Refund Policy</a></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Customer Care</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><a href="#!" class="text-dark">Track Order</a></p>
                            <p><a href="#!" class="text-dark">Shipping Policy</a></p>
                            <p><a href="#!" class="text-dark">Terms and Conditions</a></p>
                            <p><a href="#!" class="text-dark">Terms of Service</a></p>
                            <p><a href="#!" class="text-dark">FAQs</a></p>
                        </div>
    
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><i class="fas fa-home contact-icon"></i>Tamilnadu,Madurai,india</p>
                            <p><i class="fas fa-envelope contact-icon"></i>Charliesplants@Gmail.com</p>
                            <p><i class="fas fa-phone contact-icon"></i>+91 93 45 68 79 51</p>
                            <p><i class="fas fa-print contact-icon"></i>+91 93 45 68 79 51</p>
                        </div>
                    </div>
                </div>
            </section>
    
            <div class="text-center p-3 bg-success text-white">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Charlie's Plants</a>
            </div>
        </footer>
    </div>
    
</section>