{% load static %}

<section id="section6">
    <h2 class="fw-bold fs-1 py-4 text-center text-uppercase pt-5 my-5">Hear What Our Customers Say About Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review1.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review2.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review3.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review4.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review5.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review6.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review7.jpeg' %}" alt="Review" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <img src="{% static 'images/review8.jpeg' %}" alt="Review" class="img-fluid">
            </div>
        </div>
    </div>
</section>